<p id="notice"><%= notice %></p>

<p>
  <strong>Permission:</strong>
  <%= @group.permission_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @group.role_id %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
