<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @password.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @password.password %>
</p>

<%= link_to 'Edit', edit_password_path(@password) %> |
<%= link_to 'Back', passwords_path %>
