<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @role.group_id %>
</p>

<p>
  <strong>Permission:</strong>
  <%= @role.permission_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @role.role_id %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
