<!DOCTYPE html>
<html>
  <head>
    <title>Passhole</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="user_options">
      <% if user_signed_in? %>
        Hello <b><%= current_user.name %>!</b> |
        <% if current_user.is_admin? %>
        <%= link_to 'Dashboard', rails_admin_path %> |
        <% end %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      <% else %>
        <%= link_to('Login', new_user_session_path)  %>
      <% end %>
    </div>

    <h2><%= link_to 'Home', root_path %></h2>
    <%= yield %>
  </body>
</html>
